<html>
<head>
  <title>  Enregistrement d'un nouvel enseignant</title>
</head>
  <BODY>
    <fieldset>
      <legend> Nouvel enseignant </legend>
      <label> code </label>
      <input type="text" name="text" /><br/>
      <label> Nom </label>
      <input type="text" name="Nom" /><br/>
      <label> Prenom </label>
      <input type="text" name="Prenom" /><br/>

      <label >mail</label>
      <input type="text" name="text" /><br/>
      <label >Téléphone</label>
      <input type="text" name="index" /><br/>
      <label for="pet-select">Choisissez un grade </label>

<select name="pets" id="pet-select">
    <option value="">Choisissez une option </option>
    <option value="dog">Assistant</option>
    <option value="Maitre assistant">Maitre assistant</option>
    <option value="Maitre de conférences">Maitre de conférences</option>
    <option value="Professeur">Professeur</option>
    <option value="PES">PES</option>
    <option value="Contractuel">Contractuel</option>
    <option value="Vacataire">Vacataire</option>
</select>


      <button>Valider et Ajouter</button>
      </fieldset>
      <div class="row">
        <button type="button" class="btn btn-link"(click)="goToespaceadminprincipale()"> Go to admin-principale</button>
      </div>


      </BODY>
    </html>

