<!-- <p>archiver-ouvrage works!</p> -->
<html>

<head>
  <title> Archiver un ouvrage </title>
</head>
<body>
  <TR>
  <TD>
    &ltINPUT type="reset" value="Effacer">
  </TD>
  </TR>
  <div class="row">
    <button type="button" class="btn btn-link"(click)="Espaceadminprincipale()"> Go to espace-admin-principale </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-link"(click)="Espaceadminsimple()"> Go to espace-admin-simple </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-link"(click)="Consulterouvrage()"> Go to consulter-ouvrage </button>
  </div>
</body>
</html>

