<!-- <p>ajouter-ouvrage works!</p> -->

<!-- <div class="row">
  <button type="button" class="btn btn-link"(click)="goToEspace-membre()"> Go to espace-membre </button>
</div> -->
<html>

<head>
  <title> Ajouter un livre </title>
</head>



<body>


<fieldset>
<legend> Nouveau livre </legend>
<label> ISBN </label>
<input type="text" name="ISBN" /><br/>
<label> Titre </label>
<input type="text" name="titre" /><br/>
<label> auteur </label>
<input type="text" name="auteur" /><br/>
<label> Date parution </label>
<input type="text" name="Date" /><br/>
<label >Description </label>
<input type="text" name="Description" /><br/>
<label >Prix </label>
<input type="text" name="Prix" /><br/>
<label> Nbre Page </label>
<input type="text" name="NbrePage" /><br/>
<br/>
<button>Valider et Ajouter</button>
</fieldset>

<div class="row">
  <button type="button" class="btn btn-link"(click)="goToespaceadminprincipale()"> Go to espace-admin-principale </button>
</div>
<div class="row">
  <button type="button" class="btn btn-link"(click)="goToEspaceadminsimple()"> Go to espace-admin-simple </button>
</div>

</body>

</html>



