<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title> Authentification</title>
  </head>
  <body>
    <div>
      <label for="Login">Login:</label>
      <input type="text" id="Login" name="Login">
  </div>

  <div>
      <label for="pass">Password</label>
      <input type="password" id="pass" name="password"
             required>
  </div>
  <div class = "row d-flex justify-content-center">
    <button type="button" class="btn btn-link" (click)="EmprunterOuvrage() "> EmprunterOuvrage </button>
  </div>
  <div class = "row d-flex justify-content-center">
    <button type="button" class="btn btn-link" (click)="ConsulterOuvrage() "> consulterOuvrage </button>
  </div>
    <!-- Bibliothèque JavaScript jquery -->

    <div class = "row d-flex justify-content-center">
      <button type="button" class="btn btn-link" (click)="RetournerOuvrage() "> Retourner Ouvrage</button>
    </div>
  <input type="submit" value="Sign in">
  <div class="row">
    <button type="button" class="btn btn-link"(click)="goToespaceetudiant()"> Go to espace-etudiant </button>
  </div>

  </body>
</html>
