<!-- <p>espace-admin-simple works!</p> -->
<!-- <div class="row">
  <button type="button" class="btn btn-link"(click)="goToadmin-simple()"> Go to admin-simple </button>
</div> -->
<!DOCTYPE html>
	<html>
 <head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Espace Administrateur Simple</title>

 <!-- CSS de Bootstrap -->


 </head>
 <body>
 <!-- <div class = "container">
 <br />
 <h3>Liste des membres du site</h3>
 <table class="table table-striped table-condensed table-responsive table-bordered">
 <thead>
 <tr class = "text-center">
 <td>ID</td>
 <td>Pseudo</td>
 <td>Nom</td>
 <td>Prénom</td>
 <td>Sexe</td>
 <td>Actions</td>
 </tr>
 </thead>

 </table>
 <p class = "text-right"><a class = "btn btn-sm btn-default" href = "index.php"> &laquo; <i class = "glyphicon glyphicon-user"></i> Votre compte</a>
 </div> -->

 <div class="row">
  <button type="button" class="btn btn-link"(click)="ajouterouvrage()"> Go to ajouter-ouvrage </button>
</div>

<!-- <div class="row">
  <button type="button" class="btn btn-link"(click)="consulterouvrage()"> Go to consulter-ouvrage </button>
</div> -->
<div class="row">
  <button type="button" class="btn btn-link"(click)="archiverouvrage()"> Go to archiver-ouvrage </button>
</div>

	<!-- Bibliothèque JavaScript jquery -->

  <div class="row">
    <button type="button" class="btn btn-link"(click)="Espaceadminsimple()"> Go to espace-admin-simple </button>
  </div>
  <div class = "row d-flex justify-content-center">
    <button type="button" class="btn btn-link" (click)="  ModifierOuvrage()"> Modifier Ouvrage</button>
  </div>
	<!-- JavaScript de Bootstrap -->

 </body>
</html>
