<!-- <p>consulter-enseignant works!</p> -->
<html>

<head>
  <title> Consultation de la liste des enseignants </title>
</head>
<body>
  <h1><b> <i> informations personnelles des etudiants </i></b> </h1>
<div class="row">
  <button type="button" class="btn btn-link"(click)="goToespaceadminprincipale()"> Go to espace-admin-principale </button>
</div>
<div class="row">
  <button type="button" class="btn btn-link"(click)="supprimerenseignant()"> Go to supprimer-enseignant</button>
</div>
</body>
</html>
