<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/accueil" > Accueil <span class="sr-only"></span></a>

      </li>
      <li class="nav-item active">








       <a class="nav-link" routerLink="/espace-membre" > Espace-membre <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" router-Link="/espace-admin-simple"> Espace-admin-simple <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" router-Link="/espace-admin-principale"> Espace-admin-principale <span class="sr-only"></span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>

    </ul>
  </div>
</nav> -->
<html>
  <head>

  </head>
  <body>
    <h1 style="color:red;"><b><em> <strong> Bienvenue dans notre bibliothéque</strong></em></b></h1>

    <p style="color: red;" ><b> Contactez-nous :</b>  </p> <br>
    <h2 style="color:darkmagenta;"> <b><strong>Addresse: </strong></b> </h2><p><em> 94, BD du 9 avril 1938, 1007 - Tunis, Tunisie</em></p>
    <h3 style="color:darkmagenta;"><strong><b>Téléphone:</b></strong></h3><p><em> (216) 71 560 840</em></p>
    <h4 style="color:darkmagenta;"> <b><strong>Fax: </strong></b></h4><p><em>(216) 71 567 551</em></p>
    <h5 style="color:darkmagenta;"> <b><strong>Email: </strong></b></h5><p><em>fshst@fshst.rnu.tn</em></p>

      <a href="http://www.fshst.rnu.tn/"> <em> <b><strong> Pour Consulter notre Site web :Cliquez ici </strong>  </b></em></a>
    <title> <b><mark>Nos Partenariat :Quelques coopérations + conventions :</mark>  </b> </title>
    <!-- <title style="color :blue"><strong><b>  </b> </strong> </title><br> -->
    <p style="color:deeppink"><em><b>ARTICLE 1 : OBJET</b></em></p>
    <p> <i> La présente convention a pour objet de développer des relations dans
      le domaine de la formation et de la recherche :<br>

      - entre l’université de Tours, pour l’U.F.R. Droit, Economie et
      Sciences sociales et le Laboratoire CITERES (UMR 7324 CItés,
      TERritoires, Environnement et Sociétés)<br>
      - et l’Université de Tunis, pour la Faculté des Sciences Humaines
      et Sociales, et l’Unité de Recherche 13 ES 11 « Régionalisation et
      développement régional et urbain ». <br></i> </p>
     <p style="color:deeppink"><b><em>ARTICLE 2 :DOMAINES DE COLLABORATION</em></b></p>
      <p> <i> Les programmes de coopération porteront sur :<br>
        - les activités de recherches communes dans les thématiques
       suivantes : géographie et aménagement<br>
        - l’accueil d’étudiants de Master et Doctorat, sous réserve de satisfaire
       aux conditions d’inscription de l’université d’accueil.<br>
       Les étudiants accueillis dans le cadre d’un stage, ou en période
       d’observation pour leur travail de recherche au cours de leur Master
       ou Doctorat à l’UT ou à la Faculté SHS de l’Université de Tunis, sont
       exemptés des droits d’inscription (les stagiaires sont toutefois soumis
       à la réglementation française concernant l’accueil de stagiaires, in
       extenso à la réalisation d’une Convention de stage).<br>
        - l’échange d’enseignants universitaires et de chercheurs.<br>
       - l’organisation de cotutelles de thèse. Ce dispositif donnera lieu à
       l’élaboration de conventions spécifiques individuelles de cotutelles
       internationales de thèse, signées par le doctorant et le directeur de
       thèse de chaque établissement.<br>
       - le partage de documentations, techniques, méthodologies, et
       publications scientifiques.<br>
        - la publication en commun de résultats scientifiques et documents
       pédagogiques<br>
        - l’organisation de missions d’études, colloques et réunions à caractère
       scientifique consacrés au programme des recherches envisagées.  <br></i> </p>
       <p style="color:deeppink"> <b><em>ARTICLE 3 :EXECUTION ET SUIVI DE LA CONVENTION</em>  </b> </p>
   <p> <i> Les responsables pédagogiques et/ou scientifiques du projet sont :<br>
    - pour l’université de Tours : Nora SEMMOUD, Professeure à l’U.F.R.
    Droit, Economie et Sciences sociales et Directrice de l’UMR 7324
    CITERES<br>
    - pour l’Université de Tunis : Mourad BEN JELLOUL, Professeur,
    Directeur du Département de Géographie, Faculté des SHS de
    Tunis, Coordinateur de l'U.R 13ES11<br>

     Les parties contractantes peuvent être assistées par d’autres
    organismes :<br>
    - du côté français : il pourra être fait appel à différents laboratoires
    de recherche ou instituts en fonction des besoins spécifiques à
    résoudre.<br>
    - du côté tunisien : les enseignants et chercheurs de l’UR 13 ES 11
    pourront faire appel à différents laboratoires de recherche en
    fonction des besoins spécifiques à résoudre.<br>
     Au terme du présent accord, les deux parties dresseront un bilan des
    actions réalisées et en cours de réalisation, dont un exemplaire sera remis
    au service des Relations Internationales.<br>
    </i></p>
  <p> .... </p>

<router-outlet></router-outlet>
