<!-- <p>authentification works!</p> -->
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title> Authentification</title>
  </head>
  <body>
    <div>
      <label for="Login">Login:</label>
      <input type="text" id="Login" name="Login">
  </div>

  <div>
      <label for="pass">Password</label>
      <input type="password" id="pass" name="password"
             required>
  </div>
  <div class="row">
    <button type="button" class="btn btn-link"(click)="ajouterouvrage()"> Go to ajouter-ouvrage </button>
  </div>

  <!-- <div class="row">
    <button type="button" class="btn btn-link"(click)="consulterouvrage()"> Go to consulter-ouvrage </button>
  </div> -->
  <div class="row">
    <button type="button" class="btn btn-link"(click)="archiverouvrage()"> Go to archiver-ouvrage </button>
  </div>

    <!-- Bibliothèque JavaScript jquery -->

    <div class="row">
      <button type="button" class="btn btn-link"(click)="Espaceadminsimple()"> Go to espace-admin-simple </button>
    </div>
    <div class = "row d-flex justify-content-center">
      <button type="button" class="btn btn-link" (click)="  ModifierOuvrage()"> Modifier Ouvrage</button>
    </div>

</body>
</html>



