<!-- <p>consulterouvrage works!</p> -->
<html>

<head>
  <title> Consultation des ouvrages </title>
</head>
<body>
  <h1><b> <i> Voir des informations des ouvrages  </i></b> </h1>
  <h2> <b> <i> <strong>Voir des informations des ouvrages regoupés par : </strong></i></b> </h2>
  <h3><b><i> Mot clé </i></b></h3>
  <h4><b><i> Auteur </i></b></h4>
  <h5><b><i> titre </i></b></h5>
  <h6><b><i> Date de parution</i></b></h6>
<div class="row">
  <button type="button" class="btn btn-link"(click)=" Espaceetudiant()"> Go to espace-etudiant </button>
</div>
<div class="row">
  <button type="button" class="btn btn-link"(click)="Archiverouvrage()"> Go to archiver ouvrage </button>
</div>
<div class="row">
  <button type="button" class="btn btn-link"(click)="Emprunterouvrage()"> Go to  Emprunterouvrage</button>
</div>

</body>
</html>
