<!-- <p>ajouter-etudiant works!</p> -->
<html>
<head>
  <title>  Enregistrement d'un étudiant</title>
</head>
  <BODY>
    <!-- <TABLE BORDER=0>

      <TR>
        <TD> </TD>
          <TD>
          &ltINPUT type=text name="Num Inscription">
          </TD>
     </TR>
     <TR>





      <TD></TD>
        <TD>
        &ltINPUT type=text name="prenom">
        </TD>
   </TR>
   <TR>
    <TD></TD>
      <TD>
 &ltINPUT type=text name="nom">
    </TD>
 </TR>
 <TR>
  <TD></TD>
    <TD>
    &ltINPUT type=text name="">
    </TD>
</TR>
<TR>
  <TD>Filiere</TD>
    <TD>
    &ltINPUT type=text name="">
    </TD>
</TR> -->

<fieldset>
  <legend> Nouveau Etudiant </legend>
  <label> Num Inscription </label>
  <input type="text" name="Num Inscription" /><br/>
  <label> Nom </label>
  <input type="text" name="Nom" /><br/>
  <label> Prenom </label>
  <input type="text" name="Prenom" /><br/>
  <label> CIN</label>
  <input type="text" name="CIN" /><br/>
  <label >mail</label>

      <input type="text" name="text" /><br/>
      <label >Adresse </label>
<input type="text" name="Adresse" /><br/>
  <label >Filiere </label>
  <input type="text" name="Filiere" /><br/>
  <label >Niveau</label>
  <input type="text" name="text" /><br/>
<label >Cycle </label>
<input type="text" name="Cycle" /><br/>
  <button>Valider et Ajouter</button>
  </fieldset>
     <div class="row">
      <button type="button" class="btn btn-link"(click)="goToespaceadminsimple()"> Go to espace-admin-simple </button>
    </div>
    <div class="row">
      <button type="button" class="btn btn-link"(click)="goToespaceadminprincipale()"> Go to espace-admin-principale </button>
    </div>

  </BODY>
</html>

