
  <!-- <div class="row">
    <button type="button" class="btn btn-link"(click)="goToespaceadminsimple()"> Go to espace-admin-simple </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-link"(click)="goToespaceadminprincipale()"> Go to espace-admin-principale </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-link"(click)="goToespacemembre()"> Go to espace-membre</button>
  </div> -->
  <!-- <div class="row">
    <button type="button" class="btn btn-link"(click)="goToaccueil()"> Go to espace-admin-principale </button>
  </div> -->

<!--
  </body>




</html> -->
