<html>
<head>
  <title>  Espace d'emprunte des ouvrages</title>
</head>
<BODY>
  <h1><b> <i> Choisir l'ouvrage à emprunter
    <div class="row">
    <button type="button" class="btn btn-link"(click)="consulterouvrage()"> Go to consulterouvrage </button>
  </div>   </i></b> </h1>
  <label for="start">Date d'emprunte</label>

<input type="date" id="start" name="trip-start">
       <label for="start">Date retour ouvrage</label>

<input type="date" id="start" name="trip-start">
  <div class="row">
    <button type="button" class="btn btn-link"(click)="EspaceEtudiant()"> Go to espace-etudiant </button>
  </div>


</BODY>
</html>




